Binaries
DerivedDataCache
Intermediate
Saved
Build/Windows
Platforms/HoloLens
Content/__ExternalActors__/**

.vsconfig
.vscode
.vs
.idea/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log